.personalContainer{
    width: max(40vw, 400px);
    margin: 2% 0;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    border-radius: 10px;
}
#title{
    margin: 3%;
    padding: 10px;
    font-size: 2rem;
    width: 100%;
}
h1{
    margin: 1% 0;
}