.inputContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5%;
}
.formInput{
    padding: 10px;
    background-color: rgb(204, 204, 204);
    border-radius: 10px 10px;
    border: none;
}